*
!/.gitignore
!/.JuliaFormatter.toml
!/Project.toml
!/Manifest.toml
!/format.jl
!/README.md
!/LICENSE
!/CITATION.cff
!/CITATION.bib
!/CONTRIBUTING.md
!/cleanup_inventory.md
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/res/
!/res/*.png
!/res/*.svg
!/res/*.tex
!/src/
!/src/*.jl
!/test/
!/test/*.jl
!/benchmark/
!/benchmark/*.jl
!/benchmark/*.md
!/benchmark/Manifest.toml
!/benchmark/Project.toml
!/examples/
!/examples/*.jl
!/todo.md
!/rewrite.md

/examples/output/
/benchmark/output/
/old/
/tmp/
